/* Main Styles */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
}
body {
    background: #363636;
}
/* Header */
header {
    background: url('https://picsum.photos/2160/900');
    background-size:100%;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 50px;
    margin-bottom: -8em;
}
header > img {
    height: 25%;
    width: 25%;
    max-width: 200px;
    max-height:200px;
    border-radius: 50%;
    border:3px solid black;
    display: block;
    margin-left: auto;
    margin-bottom: -25px;
}
/* Personal Div */
.personal {
    overflow:hidden;
    display: flex;
    flex-direction: row;
    padding: 0 20px 20px;
    margin: 0 10px;
    height: auto;
}
.personal div {
    margin-top: 50px;
}
.personal h2 {
    font-size: 2.5em;
    color: white;
}
.personal h5 {
    font-size: 1.2em;
    color: white;
}
.pitch {
    padding: 25px 5px;
    color: white;
}
.personal div > * {
    margin:5px;
}

/* Skills Div */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background: #a1a1a1;
    opacity: 0.7;
    overflow:hidden;
    max-width: 700px;
    margin-left:auto;
    margin-right:auto;
}
.skills > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.left-list,
.right-list {
    width: 50%;
}
.skills h3 {
    display: block;
    text-align: center;
}

/* Education */
.education {
    overflow: hidden;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    background: orange url(../images/moren-hsu-359121-unsplash.jpg);
    background-size: 100%; 
    background-attachment: fixed;  
    margin-left: auto;
    margin-right: auto;
}
.education > * {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    color: white;
    width: 90%;    
}


/* Education */
.uni {
    padding: 10px 20px 10px 10px;
    max-width: 500px;
    width: 50%;
}
.uni div {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
.uni div > * {
    width: 100%;
}
.uni div h5,
.school h5 {
    text-align: left;
    font-size: 1.5em;
}
.uni div .grade {
    text-align: end;
    padding: 0 10px;
}
.uni h6,
.school h6 {
    font-size: 1em;
}
.uni p {
    font-size: 0.75em;
}
.uni h6,
.uni p {
    margin-top: 0;
    line-height: 1.0625em;
}
.school {
    padding:10px;
    width: 50%;
    border-left: 5px solid white;
}
.school dd {
    font-size: 0.6em;
}

/* Timeline */
.experience {
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.experience h4 {
    text-align: center;
    margin-bottom: 0;
    font-size: 2em;
    line-height: 2.5em;
}
.experience * {
    box-sizing:border-box;
    background: orange;
    background-size: 100%;
}

/* Designing the line itself */
.experience::after {
    content:'';
    position: absolute;
    width: 6px;
    background: #000;
    top: 80px;
    bottom: 10px;
    left: 50%;
    margin-left: -3px;
}
.container {
    padding: 10px 20px;
    position: relative;
    background: orange;
    width: 50%;
}

/* Desiging the circles on the timeline */
.container::after {
    content:'';
    position: absolute;
    width: 25px;
    height:25px;
    right: -16px;
    background: lightsalmon;
    border: 4px solid tomato;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Positioning containers */
.left {
    left:0;
}
.right {
    left: 50%;
}

/* Positioning circles */
.right::after {
    left:-16px;
}

/* Background of containers */
.job .content,
.job .content * {
    background: #363636;
    color: white;
}
.volunteer .content,
.volunteer .content * {
    background: #A6C0C5;
    color: black;
}
.content {
    padding: 10px 20px;
    position: relative;
    border-radius: 5px;
}
/* Media Queries */
@media (max-width: 600px) {
    .personal {
        flex-direction: column;
        padding: 10px 0 0;
    }
    .personal h5 {
        font-size: 0.8em;
    }
    .personal h2 {
        font-size: 2em;
    }
    .skills div,
    .education {
        flex-direction: column;
    }
    .left-list,
    .right-list {
        margin-bottom: 0;
    }
    .uni,
    .school {
        width: 100%;
    }
    .personal,
    .skills,
    .education {
        width: 100%;
        margin: 0;
    }
    .experience::after {
        left: 31px;
    }
    .container {
        width: 90%;
        left: 40px;
        background: inherit;
    }
    .left::after,
    .right::after {
        left: -25px;
    }
    .right {
        left: 40px;
    }
}